In [1]:
import pandas as pd
import numpy as np

In [10]:
data_df=pd.read_excel('CCCP.xlsx')
data_df.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [7]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /home/jupyter-mca03/.local/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /home/jupyter-mca03/.local/lib/python3.9/site-packages (from openpyxl) (1.1.0)

In [11]:
data_df=pd.read_excel('CCCP.xlsx')
data_df.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [12]:
print(x)

NameError: name 'x' is not defined